*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    --primary: #FEA116
}

.btn.btn-primary{
    color: #FFFFFF;
    background-color: var(--primary);
    padding: 0;
    font-weight: normal;
    border-radius: 5px;
    border: none;
}

.btn.btn-primary:hover{
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #FEA116;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

.fa{
   color: var(--primary);
}


#home{
    background-image: url(./carousel3.jfif);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    color: white;
}


#home .container .latar{
    padding: 200px 0;
}


#home .container .latar h1{
    font-family: sans-serif;
    font-size: 50px;
    margin-top: 3rem;
}



#about{
    padding-top: 50px;
}

#room{
    padding-top: 50px;
}

#room img{
    height: 40vh;
}

/* FOOTER */

#footer{
background-color: black;
}

footer{
    color: white;
    display: flex;
}

.left{
    background-color: orange;
    align-items: center;
    /* background-color: orange; */
    display: flex;
    flex-basis: 30%;
    justify-content: center;
}
.left h1{
    font-weight: 600;
}

.footer-right{
    background-color: var(--deepsea);
    display: flex;
    flex-basis: 70%;
    gap: 3rem;
    padding: 2rem;
}

.footer-right>ul{
    list-style: none;
}

.footer-right p{
    font-weight: 100;
}
